node_modules/
.turbo/
apps/**/node_modules/
packages/**/node_modules/
apps/**/.turbo/
apps/**/dist/
apps/**/admin/
cert/
db_data/
langapp-stack/
.env.local
Caddyfile.local

**/bin/
**/obj/
**/.git/
*.tar.gz
*.tar
