*.db
*.db-shm
*.db-wal
*.log
*.zip
*.bak
*.tmp
bin/
obj/
*.dll
certs/
local_certs/
langapp-stack/
.turbo/
apps/ayalaslanguagewebadmin/admin/
apps/ayalaslanguageweb/dist/
node_modules/
db_data/
.env
.env.local