packages:
  yum:
    python3-pip: []

commands:
  01_install_certbot:
    command: "pip3 install certbot certbot-nginx"
  02_create_dummy_certs:
    command: |
      if [ ! -f /etc/pki/tls/certs/server.crt ]; then
        mkdir -p /etc/pki/tls/certs /etc/pki/tls/private
        openssl req -x509 -nodes -days 365 -newkey rsa:2048 \
          -keyout /etc/pki/tls/private/server.key \
          -out /etc/pki/tls/certs/server.crt \
          -subj "/CN=localhost"
      fi