packages:
  yum:
    python3-pip: []

commands:
  01_install_certbot:
    command: "pip3 install certbot certbot-nginx"
  02_create_challenge_dir:
    command: "mkdir -p /var/app/current/public/.well-known/acme-challenge/"

container_commands:
  01_init_cert:
    command: |
      if [ ! -d "/etc/letsencrypt/live/" ]; then
        certbot certonly --nginx \
          --non-interactive \
          --agree-tos \
          --email your-email@example.com \
          -d ayalasapp.duckdns.org \
          --deploy-hook "systemctl reload nginx"
      fi
  02_setup_renewal_timer:
    command: |
      echo "0 0,12 * * * root python3 -c 'import random; import time; time.sleep(random.random() * 3600)' && certbot renew -q --deploy-hook 'systemctl reload nginx'" > /etc/cron.d/certbot-renew