langapp.xyz, ://langapp.xyz {
    tls /certs/public.pem /certs/private.pem
    reverse_proxy api_app:8080
}

://langapp.xyz {
    tls /certs/public.pem /certs/private.pem
    reverse_proxy api_app:8080
}